label{
	font-weight: normal;
}
ol {
    counter-reset: item;
}
ol li { 
	display: block ;
	margin-bottom: 15px;
}

ol li:before {
	content: counter(item) ". ";
	counter-increment: item;
	font-weight: bold;
}
.timerClass{
	margin-right: 10px;
}
.timerClass :nth-child(odd) div:nth-child(-n+6) {
  display:none;
}